body {
    background-color: aqua;
}
.sla {
    background-color: #9dff00;
    width: 100px;
    height: 100px;
    margin-left: 610px;
    margin-top: 250px;
    text-align: center;
}
header#titulo {
    text-align: center;
}
audio#musica {
display: none;  /*isso deixa o objeto invisivel */

}

